

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans' , sans-serif;
}
main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.changeTheme{
  display: flex;
  margin-top: 15px;
}

.changeTheme p{
  margin-left: 21rem;
  margin-top: 2px;
  color: blue;
}
.item-theme{
  display: flex;
  
}
p{
  margin-top: 2px;
  margin-left: 23rem;
}
img{
  width: 25px;
  height: 15px;
  margin-top: 3px;
  padding-left: 5px;

}

.item-theme2{
  display: flex;
}
.item-theme2 p{
  margin-left: 18.5rem;
}

.item-theme3{
  display: flex;
}
.item-theme3 p{
  margin-left: 21.2rem;
}
.item-theme4{
  display: flex;
}
.item-theme4 p{
  margin-left: 17.2rem;
}
.item-theme5{
  display: flex;
}
.item-theme5 p{
  margin-left: 14.2rem;
}
.buttons{
  margin-left: 27rem;
}
.button1{
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
}
.button2{
  margin-left: 15px;
  padding: 6px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;

}


@media only screen and (max-width: 768px) {
  .changeTheme p {
    display: flex;
    margin: 0;
    margin-left: 8rem;
  }
  .item-theme p{
    margin:0;
    margin-left:9rem;
  }
  .item-theme2 p{
    margin: 0;
    margin-left: 4.3rem;
  }
  .item-theme3 p{
    margin: 0;
    margin-left: 7.3rem;
  }
  .item-theme4 p{
    margin: 0;
    margin-left: 3.2rem;
  }
  .item-theme5 p{
    margin: 0;
    margin-left: 0.2rem;
  }

  .buttons{
    margin: 0;
    margin-left: 11rem;
  }
}