*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans' , sans-serif;
}
main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.changeTheme{
  display: flex;
  margin-top: 15px;
}

.changeTheme p{
  margin-left: 21rem;
  margin-top: 2px;
  color: blue;
}
.colors{
  display: flex;
  align-items: center;
}
.color-paragraph{
  margin-right: 10px;
}
.item-theme{
  display: flex;
  justify-content: space-between;
}
.custom-input{
  width: 45px;
  height: 26px;
  border: none;
}

.buttons{
  margin-left: 27rem;
}
.button1{
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
}
.button2{
  margin-left: 15px;
  padding: 6px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;

}


@media only screen and (max-width: 768px) {
  .changeTheme p {
    display: flex;
    margin: 0;
    margin-left: 8rem;
  }
  .custom-input{
    width: 45px;
    height: 26px;
    border: none;
  }

  .buttons{
    margin: 0;
    margin-left: 11rem;
  }
}